.welcome{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;
}

.start-btn{
    color: #fff;
    background: linear-gradient(to bottom right, #485563, #29323c);
    padding: 1rem 3rem;
    border-radius: 3px;
    width: fit-content;
}

.start-btn:hover{
    background: linear-gradient(to bottom right, #2b323a, #15191e);
    color: #fff;

}